[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyyaml = "*"
mkl = "*"
mkl-include = "*"
setuptools = "*"
cmake = "*"
cffi = "*"
ninja = "*"
numpy = "*"

[packages]
pywin32 = "==225"
jupyter = "*"
jupyterthemes = "*"
pandas = "*"
scikit-learn = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
fastai = "*"
tqdm = "*"

[requires]
python_version = "3.6"
