[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyyaml = "*"
mkl = "*"
mkl-include = "*"
setuptools = "*"
cmake = "*"
cffi = "*"
ninja = "*"
numpy = "*"

[packages]
pywin32 = "==225"
jupyter = "*"
jupyterthemes = "*"
pandas = "*"
scikit-learn = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
fastai = "*"
tqdm = "*"
torch = {file = "https://download.pytorch.org/whl/cu101/torch-1.3.1-cp36-cp36m-win_amd64.whl"}
torchvision = {file = "https://download.pytorch.org/whl/cu101/torchvision-0.4.2-cp36-cp36m-win_amd64.whl"}

[requires]
python_version = "3.6"
