[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
numpy = "*"
ninja = "*"
pyyaml = "*"
mkl = "*"
mkl-include = "*"
setuptools = "*"
cmake = "*"
cffi = "*"
typing = "*"

[packages]
jupyter = "*"
jupyterthemes = "*"
pandas = "*"
scikit-learn = "*"
numpy = "*"
torch = "*"
torchvision = "*"
matplotlib = "*"
seaborn = "*"
psycopg2 = "*"
pykrige = "*"
fastai = "*"
tqdm = "*"
intel-openmp = "*"
h5py = "*"

[requires]
python_version = "3.6"
